@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  transition: 0.3s;
}

:root {
  --bg-body: white;
  --purple-color: #6c5ce7;
  --text-color: black;
  --text-secondary: rgb(147, 144, 144);
}

[data-theme="black"] {
  --bg-body: black;
  --text-color: white;
}

.theme-button {
  background-color: var(--purple-color);
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.theme-button:hover {
  background-color: #5f4dec;
}

.secondary-button {
  background-color: whitesmoke;
  color: black;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.secondary-button:hover {
  background-color: rgb(214, 212, 212);
}

.secondary-heading {
  color: rgb(140, 137, 137);
  font-weight: 500;
}
