.featured-job-card {
  background-color: whitesmoke;
  width: 19rem;
  height: 18rem;
  box-shadow: 0px 0px 10px rgb(248, 246, 246);
}

.department-title > :nth-child(2) > :first-child {
  font-weight: 600;
  font-size: 1.1rem;
}

.department-title > :nth-child(2) > :nth-child(2) {
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(151, 146, 146);
}

.featured-job-card > :nth-child(3) > :nth-child(1) {
  font-size: 0.8rem;
  font-weight: 700;
}

.featured-job-card > :nth-child(3) > :nth-child(2) {
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(151, 146, 146);
}

.company-title > :first-child > :first-child {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(151, 146, 146);
}

.company-title > :nth-child(2) button {
  padding: 0.2rem 0.8rem 0.3rem;
  font-size: 1rem;
}
