.job-category-card {
  background-color: white;
  display: flex;
  align-items: center !important;
  box-shadow: 0 0 12px rgb(238, 234, 234);
  width: 22rem;
}

.job-category-card > :first-child {
  display: flex;
  gap: 5px;
}

.job-category-card div h6 {
  cursor: pointer;
}

.job-category-card > :nth-child(2) p {
  font-size: 0.8rem;
  font-weight: 500;
  color: grey;
  position: relative;
  top: 4px;
}
