@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --theme-color: blue;
  --theme-color: black;
}

/* common/reusable classes start */
.purple-color {
  background-color: var(--theme-color);
}

.purple-text {
  color: var(--theme-color);
}

.text-small {
  font-size: 0.8rem;
}

.text-medium {
  font-size: 0.9rem;
}

.btn-theme {
  background-color: var(--theme-color);
  color: white;
}

.secondary-bg {
  background-color: whitesmoke;
}

.box-shadow {
  box-shadow: 0 0 14px 8px rgb(232, 231, 231);
}

.btn-theme:hover {
  /* background-color: rgb(43, 43, 252); */
  background-color: rgb(28, 27, 27);
  transition: 0.3s;
}

.card-badge {
  background-color: rgb(199, 197, 197);
  font-size: 0.6rem;
  font-weight: 600;
  padding: 5px 8px;
}

/* common/reusable classes end */

.aut-page {
  width: 100%;
  height: 100vh;
}

.aut-img {
  width: 90%;
  height: 95vh;
}

@media (max-width: 720px) {
  .aut-page {
    width: 100%;
    height: 105vh;
  }

  .aut-page > form {
    padding-bottom: 50px;
  }

  .aut-img {
    width: 100%;
    height: 40vh;
  }
}

/* Navbar start */
.nav-link {
  font-weight: 500;
  font-size: 1rem;
  color: black;
}

.navbar-toggler {
  border: none !important;
  font-size: 1.45rem !important;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none !important;
  outline: none !important;
}

.profile-dropdown {
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: 500;
}
/* Navbar end */

/* Hero section start */
.hero-text-section {
  padding-top: 100px;
}

.regular-users-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* background-position: center; */
  background-size: contain;
  border: 3px solid white;
}

.img1 {
  position: relative;
  /* right: -60px; */
  z-index: 11;
}

.img2 {
  position: relative;
  left: -20px;
  z-index: 12;
}

.img3 {
  position: relative;
  left: -43px;
  z-index: 13;
}

.img4 {
  position: relative;
  left: -65px;
  z-index: 14;
}

/* hero section end */

/* recommended jobs start */
.job-filter-btn {
  background-color: transparent;
  border: 0;
}

.job-card {
  width: 100%;
  /* box-shadow: 0 0 15px 8px rgb(239, 237, 237); */
}

.company-logo {
  width: 3rem;
  height: 4rem;
  position: relative;
  top: -12px;
}

.job-type-btn {
  background-color: rgb(66, 64, 64);
  color: white;
  padding: 0.2rem 0.6rem;
  font-size: 0.6rem;
  border: none;
}

/* job-category-card */
.job-category-card {
  border: 1px solid rgb(224, 222, 222);
  width: 16rem;
  height: 8rem;
}

/* .job-category-card:hover {
  box-shadow: 0 5px 15px 6px rgb(226, 225, 225);
  cursor: pointer;
  transition: 0.3s;
} */

/* job-category-card */

.subscribe-form {
  width: 50%;
}

.external-link {
  cursor: pointer;
}

/* company-card */
.shadow_hover:hover {
  /* box-shadow: 0 5px 15px 6px rgb(240, 239, 239); */
  box-shadow: 0 5px 22px 6px whitesmoke;
  cursor: pointer;
  transition: 0.3s;
}
.open-positions {
  background-color: rgb(48, 47, 47);
  color: white;
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  right: 20px;
  bottom: 25px;
}

/* contact-form */
.contact-form {
  width: 70%;
  margin: auto;
}

@media (max-width: 720px) {
  .contact-form {
    width: 100%;
  }

  .job-card {
    width: 100%;
  }

  .company-logo {
    width: 2.5rem;
    height: 2rem;
    top: 0px;
    left: -8px;
  }
}
