.right-box {
  /* width: 50% !important; */
  /* background-color: rgb(26, 39, 179); */
  width: 80%;
  background-color: #3f32a2;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
}

.auth {
  background-color: white;
}

.btn-login {
  background-color: #3f32a2;
}

@media (max-width: 650px) {
  .left-box {
    width: 100% !important;
  }
  .right-box {
    display: none !important;
  }
}
