.navbar {
  background-color: var(--bg-body);
  height: 80px;
  /* margin: 20px; */
  /* border-radius: 16px; */
  padding: 0.5rem;
}

.navbar-brand,
.offcanvas-title {
  font-weight: 700;
  color: var(--purple-color);
  font-size: 1.6rem;
  transition: 0.3s color;
}

.login-button {
  background-color: var(--purple-color);
  color: white;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: #5f4dec;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

@media screen and (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--purple-color);
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
